<% provide(:title, "Home") %>

<div class="v25_53"> 
  <%= image_tag "wineglass.png", size: "179x165" %> 
</div>
<div class="v206_26">
  <%= image_tag "logo.png", size: "538x515" %> 
</div>    
<h1 class="v2_13">Wine Detective</h1>
<h2 class="v2_15">もっとカジュアルにワインを楽しもう！</h2>
<h3 class="v4_16">あなたのピッタリカジュアルワインを見つけましょう！</h3>

<%= link_to "今すぐ登録", signup_path, class: "v5_17" %> 
