<% provide(:title, 'Private Policy') %>

<div class="static-text p-5">
<br>
  <h1 class="text-center p-5">Privacy Policy</h1>
  <br>
  <div class="container ">
  <h3>Information We Obtain from Customers</h3>
  <p>The Service obtains the following information from customers:</p>
  <ol>
    <li>Name (including nicknames and pseudonyms)</li>
    <li>E-mail address</li>
    <li>Ds used by customers in external services, and other information that customers have authorized to be disclosed to linked parties according to the privacy settings of the external services.</li>
    <li>Customers activity history on our website, including time spent on the website, input history, purchase history, etc.</li>
  </ol>
  <h3>Purpose of using customer information</h3>
  <p>The Service uses information obtained from customers for the following purposes</p>
  <ol>
    <li>To accept registrations for the Service, and to confirm and authenticate the identity of customers</li>
    <li>To manage the customers usage history of our Service</li>
    <li>To analyze the customers activity history on the Service and use it to maintain and improve the Service</li>
    <li>For market analysis and marketing</li>
    <li>To respond to customer inquiries</li>
    <li>To respond to violations of these Terms of Use or laws and regulations</li>
    <li>To notify customers of changes to, discontinuation of provision of, termination of, or cancellation of this Service</li>
    <li>To notify customers of changes to these Terms and Conditions, etc.</li>
    <li>To provide, maintain, protect, and improve this service in addition to the above</li>
  </ol>
  <h3>Provision to Third Parties</h3>
  <p>The Service will not provide information obtained from customers that falls under the category of personal data (Article 2, Paragraph 6 of the Personal Information Protection Law) to third parties (including parties located outside of Japan) without obtaining the prior consent of the customer. (Article 2, Paragraph 6 of the Personal Information Protection Law) will not be provided to third parties (including parties located outside Japan) without prior consent from the customer.</p>
  <p>However, the following cases are excluded</p>
  <ol>
    <li>When the handling of personal data is outsourced</li>
    <li>In the event of an acquisition of the Service</li>
    <li>When sharing with business partners (if there are specific cases of sharing, the details will be announced separately)</li>
    <li>In other cases where provision to third parties is legally permitted by law.</li>
  </ol>
  <h3>Access Analysis Tools</h3>
  <p>This service uses "Google Analytics" and "LogRocket" for customer access analysis. Google Analytics and LogRocket use cookies to collect traffic data. Traffic data is collected anonymously and does not personally identify you; you can opt out of the collection of this information by disabling cookies. Please check your browser settings for more information. For more information, please refer to the Google Analytics Terms of Use and LogRocket Terms of Use.<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" rel="noopener noreferrer">Googleアナリティクスの利用規約</a>、<a href="https://logrocket.com/privacy/" target="_blank" rel="noopener noreferrer">LogRocketの利用規約</a>
  </p>
  <h3>Changes to the Privacy Policy</h3>
  <p>The Service will change the content of this Privacy Policy as necessary.</p>
  <h3>Inquiries</h3>
  <p>If you have any questions about the privacy policy of this service, please contact us.</p>
  </div>
