<% content_for(:title, "利用規約") %>
<div class="static-text p-5">
<br>
<br>
<h1 class="text-center p-5">Terms of Use</h1>

  <div class="container ">
  <p>These terms and conditions of use (hereinafter referred to as the "Terms of Use") This Terms of Use ("Terms") defines the terms and conditions of use of the services provided on the website ("Service"). The following Terms of Use (hereinafter referred to as the "Terms") define the conditions of use of the services provided on the website (hereinafter referred to as the "Service"). Users of the Service (hereinafter referred to as "Users") are bound by these Terms of Use. The user of the Service (hereinafter referred to as the "User") shall use the Service in accordance with these Terms of Use.</p>
  <p>By using the Service, the User is deemed to have agreed to all of the terms and conditions contained in this Agreement.</p>
  <h3>Article 1 (Application)</h3>
  <p>These Terms of Use shall apply to all relationships between the User and the Service Provider regarding the use of the Service.</p>
  <h3>Article 2 (Registration for Use)</h3>
  <p>With regard to the Service, a user who wishes to register for use of the Service shall agree to the Terms of Use, apply for registration for use in accordance with the method prescribed by the Service, and registration for use shall be completed when the Service approves such application.</p>
  <p>If the Company determines that the applicant has any of the following reasons, the Company may not approve the application for registration, and shall not be obligated to disclose the reasons.</p>
  <ol>
    <li>The applicant has provided false information when applying for registration.</li>
    <li>If the application is from a person who has violated these Terms of Use</li>
    <li>In any other cases in which the Company deems the registration of use to be inappropriate.</li>
  </ol>
  <h3>Article 3 (Management of User ID and Password)</h3>
  <ol>
    <li>The User shall properly manage his/her user ID and password for the Service at his/her own responsibility.</li>
    <li>The User shall not, under any circumstances, transfer or lend his/her user ID and password to a third party, or share them with a third party. When a user logs in to the Service with a user ID and password that match the registered information, the Service shall deem the use of the Service to be by the user who has registered the user ID.</li>
    <li>The Company shall not be liable for any damage caused by the use of a user ID and password by a third party, except in the case of willful misconduct or gross negligence on the part of the Company.</li>
  </ol>
  <h3>Article 4 (Prohibited Matters)</h3>
  <p>Using the Service, the User shall not engage in any of the following acts/p>
  <ol>
    <li>Acts that violate laws and ordinances or public order and morals, and acts related to criminal acts.</li>
    <li>Acts that infringe on copyrights, trademarks, or other intellectual property rights contained in the Service, such as the contents of the Service.</li>
    <li>Acts that destroy or interfere with the functioning of the server or network of the Service, other users, or other third parties.</li>
    <li>Commercial use of information obtained from this service.</li>
    <li>Acts that may interfere with the operation of this service.</li>
    <li>Acts of gaining or attempting to gain unauthorized access to the Service.</li>
    <li>Actions that collect or accumulate personal information about other users.</li>
    <li>Actions that use the Service for unauthorized purposes.</li>
    <li>Actions that cause disadvantage, damage, or discomfort to other users of this service or other third parties.</li>
    <li>Act to impersonate another user.</li>
    <li>Advertising, advertisement, solicitation, or sales activities on the Service that are not authorized by the Service, or acts aimed at meeting people of the opposite sex whom the User has not met before.</li>
    <li>Directly or indirectly providing benefits to antisocial forces in relation to this service.</li>
    <li>Other acts that the service provider deems inappropriate.</li>
  </ol>
  <h3>Article 5 (Suspension of Provision of the Service, etc.)</h3>
  <p>The Service Provider may suspend or discontinue provision of all or part of the Service without prior notice to the user for any of the following reasons:</p>
  <ol>
    <li>When performing maintenance, inspection, or updating of the system of the Service</li>
    <li>When the provision of this service becomes difficult due to a failure of the infrastructure service used by this service, etc.</li>
    <li>When the provision of the Service is deemed difficult for any other reason.</li>
    <li>The Company shall not be liable for any disadvantage or damage incurred by the user or a third party due to the suspension or interruption of the provision of this service.</li>
  </ol>
  <h3>Article 6 (Restriction of Use and Cancellation of Registration)/h3>
  <p>The Service Provider may, without prior notice, restrict the User from using all or part of the Service or terminate the User registration if the User falls into any of the following cases: </p>
  <ol>
    <li>The User violates any of the provisions of these Terms of Use.</li>
    <li>In any other cases where the Service Provider deems the use of the Service to be inappropriate.</li>
    <li>The Service Provider shall not be liable for any damages incurred by the user as a result of actions taken in accordance with this Article.</li>
  </ol>
  <h3>Article 7 (Disclaimer)</h3>
  <p>The operator of this service shall not be liable for any transaction, communication, or dispute between a user and another user or a third party in connection with this service.</p>
  <h3>Article 8 (Withdrawal from Membership)</h3>
  <p>A user may withdraw from the Service by following the withdrawal procedure specified by the Service.</p>
  <h3>Article 9 (Change of Service Contents, etc.)</h3>
  <p>The Service Provider may change the contents of the Service or discontinue providing the Service without notice to the User, and shall not be liable for any damages incurred by the User as a result of such changes.</p>
  <h3>Article 10 (Modification of Terms of Use)</h3>
  <p>The Service Provider may change the Terms of Use at any time without notice to the User, if it deems it necessary. The user shall be deemed to have agreed to the modified Terms of Use when the user starts using the Service after the modification of the Terms of Use.</p><br><br>
  <p class= "mb-5">[Adopted on July 01, 2022]</p>
  </div>
</div>