<%# app/views/errors/not_found.html.erb %>


<div class="index-light-overlay">
    <div class="home-inner container pb-5 mb-5">
        <h1>This page does not exist.</h1> 
        <%link_to "home", users_new_path
    </div>
</div>