

<div class="be-comment">
		<div class="be-comment-content">
			
				<span class="be-comment-name">
					<a href="blog-detail-2.html"><%= micropost.user.name%></a>
					</span>
				<span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					<%= micropost.created_at %>
				</span>

			<p class="be-comment-text">
				<%= micropost.content %>
			</p>
		</div>


  <% if current_user?(micropost.user) %>
      <%= button_to "削除", micropost, method: :delete, class: "btn btn-danger btn-small border-rounded btn-lg", style:"width:10%",
                                       data: { confirm: "You sure?" }%>

    <% end %>
	</div>
