
.v5_18 {
  width: 782px;
  height: 145px;
  background: rgba(163,8,8,1);
  opacity: 1;
  position: absolute;
  top: 611px;
  left: 290px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v2_13 {
  width: 674px;
  color: rgba(163,8,8,1);
  position: absolute;
  top: 258px;
  left: 398px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v2_15 {
  width: 815px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 386px;
  left: 290px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v4_16 {
  width: 577px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 471px;
  left: 296px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v5_17 {
  width: 577px;
  color: rgba(255,248,248,1);
  position: absolute;
  top: 623px;
  left: 446px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v25_52 {
  width: 149px;
  height: 165px;
  background: url("../images/v25_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 830px;
  overflow: hidden;
}
.v25_53 {
  width: 149px;
  height: 165px;
  background: url("../images/v25_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 221px;
  left: 271px;
  overflow: hidden;
}

.v206_26 {
  width: 508px;
  height: 510px;
  background: url("../images/v206_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 1072px;
  overflow: hidden;
}
