// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user img {
    width: 80px;
    height: 80px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    margin: 20px 0 10px;
    object-fit: cover;
  }

    #home-section {
      background: url(../img/home.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      min-height: 700px;
    }
  
    #home-section .dark-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 700px;
      background-color: rgba(0, 0, 0, 0.7);
    }
  
    #home-section .home-inner {
      padding-top: 150px;
    }
  
    #home-section .card-form {
      opacity: 0.8;
    }
  
    #home-section .fas,
    #create-section .fas {
      color: #008ed6;
      background: white;
      padding: 6px;
      border-radius: 5px;
    }
  
    #explore-section .fas,
    #share-section .fas {
      color: white;
      background: #333;
      padding: 5px;
      border-radius: 5px;
    }