<%= button_to bookmarks_path(wine_id: wine.id), id: "bookmark-button", class:" bg-transparent border", method: :post do %>
<h5 class="justify-self-center"><%= t 'wines.show.お気に入りに追加' %></h5>
<% end %>