<% provide(:title, @wine.name) %>
<div class="row">
  <aside class="col-md-4">
    <div class="wine">
    </div>
    <section class="wine_info">
      <h1>
        <%= @wine.name %>
      </h1>
      <h2>
        <%= @wine.country %>
      </h2>
    </section>
  </aside>
</div>